.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: rgb(255,84,90);
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.pieIcon, .globeIcon, .usersIcon, .chartIcon {
  font-size: 100pt;
  padding-bottom: 10pt;
}
.pieIcon {
  color: rgb(49,220,230)
}
.globeIcon {
  color: rgb(101, 230, 150)
}
.usersIcon {
  color: rgb(255,240,120)
}
.nav li a {
  float:left;
}
.nav li a:hover {
  border-bottom: 0;
  padding-bottom: 11px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav li i {
  position: inline;
  padding: 12px;
}
.nav li i:hover{
  background: rgb(238,238,238);
  border-radius:5px;

}
.nav, .nav-tabs, .nav-stacked {
  border-bottom: 0;
}
.formchoice i {
  float: right;
  margin-top:-18pt;
  margin-right:10px
}
